@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Source+Code+Pro&family=Changa&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #121212 !important;
  height: 100vh;
  font-family: "Poppins", sans-serif !important;
}

::-webkit-scrollbar {
  width: 10px;
  background: #333333;
}

::-webkit-scrollbar-track {
  background: #333;
  box-shadow: inset 0 0 2.5px 2 rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
  background: #ffd700;
  border-radius: 15px;
}

.hero {
  min-height: 90vh !important;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)),
    url("../assets/bg-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .card {
    border-radius: 15px !important;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5) !important;
    background: rgba(255, 255, 255, 0.1) !important;
    backdrop-filter: blur(3px) !important;
    &::after {
      content: none !important;
    }
    .card-title {
      font-weight: 700 !important;
      color: #fff !important;
    }
    .form-pill {
      background: #f0f0f0;
      color: #333;
      width: auto;
      height: 40px;
      border-radius: 10px;
      padding: 5px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      select {
        width: 100px !important;
        background: transparent !important;
        outline: none;
        border: none;
        color: #333 !important;
      }

      input {
        width: 100px !important;
        background: transparent;
        outline: none;
        border: none;
        color: #333 !important;
      }
    }
  }
}
.feature-badge {
  background: #121212;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  border-radius: 50%;
  transform: translate(0, -50px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffd700;
  h1 {
    font-size: 50px;
    line-height: 50px;
  }
}

.how-it-works {
  min-height: 90vh;
  .stepper-container-horizontal {
    border: 2px solid #ffd700;
    border-radius: 15px;
    margin: 40px auto;
    padding: 30px;
    width: 80%;
    box-shadow: 0 0 13px #333;
    position: relative;

    .content {
      background: #fff;
      height: 100px;
      width: 100px;
      margin: 10px auto;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      padding: 0;
      h1 {
        font-size: 50px;
        line-height: 50px;
        color: #ffd700;
      }
    }
    .text-light {
      color: #c0c0c0 !important;
      font-size: 12px;
    }
  }
}

.testimonials {
  min-height: 100vh;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url("../assets/testimonials.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .client-description {
    text-align: center;
    font-style: italic;
    color: #fff;
  }

  .client-name {
    color: #fff;
    text-align: center;
    font-weight: 700;
    margin-bottom: 80px;
  }

  .client-img {
    width: 200px;
    height: 200px;
    padding: 5px;
    border: 1px solid #c0c0c0;
    margin-bottom: 20px;
  }
  .carousel-control-prev-icon {
    color: #ffd700 !important;
  }
  .carousel-control-next-icon {
    color: #ffd700 !important;
  }
}

.contact {
  min-height: 100vh;
  .card {
    border-radius: 15px !important;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5) !important;
    background: #ffd700 !important;
    backdrop-filter: blur(10px);
    color: #333;
    &::after {
      content: none !important;
    }

    h5 {
      color: #333;
      font-weight: 700;
    }

    .form-group {
      margin: 10px !important;
      .form-control {
        background: rgba(255, 255, 255, 0.5) !important;
        border-radius: 15px !important;
        outline: none !important;
        border: none !important;

        &.btn-secondary {
          background: #333 !important;
          border: none !important;
          outline: none !important;
          font-weight: 700 !important;
          &:hover {
            background: #c0c0c0 !important;
            color: #333 !important;
          }
        }
      }
    }
  }
}

footer {
  background: rgba(255, 255, 255, 0.02);
  color: #fff;
  .footer-hero {
    color: #ffd700;
    font-weight: 700;
    font-family: "Source Code Pro", monospace !important;
  }

  h5 {
    color: #ffd700;
  }

  span {
    color: #c0c0c0;
  }

  .footer-link {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: #c0c0c0;
      margin-left: 5px;
    }
  }
}

@media only screen and (max-width: 425px) {
  .hero {
    .card {
      .form-pill {
        margin: 10px 0;
        select {
          width: 100% !important;
          margin-left: 10px !important;
        }
        input {
          width: 100% !important;
          margin-left: 10px !important;
        }
      }
    }
  }
  .testimonials {
    .client-img {
      height: 100px;
      width: 100px;
    }
  }
}

@media only screen and (max-width: 375px) {
  .contact {
    .card {
      width: 90% !important;
    }
  }
}

.product {
  background: #ffd700 !important;
  border-radius: 15px !important;
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    & h5 {
      font-weight: 700;
      color: #333333;
      margin-left: 5px;
      display: block;
      line-height: 30px;
    }

    & i {
      color: #333333;
      font-weight: 700;
      font-size: 30px;
      display: block;
      margin-bottom: 6px;
    }
  }
  .form-group {
    margin: 10px 5px !important;
    label {
      margin: 2px !important;
      color: #333 !important;
      font-weight: 700 !important;
    }
    .form-control {
      background: rgba(255, 255, 255, 0.5) !important;
      border-radius: 15px !important;
      border: none !important;
      order: none !important;
      &.btn-primary {
        background: #333333 !important;
        color: #f0f0f0 !important;
        font-weight: 700 !important;
      }
    }
  }
}
